:host {
  display: block;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

ion-grid {
  max-width: 100%;
  justify-content: center;
}

ion-row {
  justify-content: center;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: gold;
  cursor: pointer;
}

.pokemon-card {
  width: 250px; /* Largura fixa do card */
  transition: transform 0.2s ease; /* Transição suave para o zoom */
  position: relative; /* Para posicionar a estrela de favorito corretamente */
}

.pokemon-card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse sobre ele */
}

.pokemon-info {
  display: flex; /* Utiliza flexbox para alinhar a imagem e as descrições */
  flex-direction: column; /* Altera direção do flex para coluna em telas menores */
  align-items: center; /* Centraliza verticalmente os elementos */
  position: relative;
}

.pokemon-image {
  width: 100px; /* Largura da imagem */
  height: 100px; /* Altura da imagem */
  margin-bottom: 10px; /* Espaçamento inferior da imagem */
}

.extra-info {
  display: none; /* Inicialmente, as informações extras não são exibidas */
  text-align: center; /* Centraliza o texto das informações extras */
}

.pokemon-card:hover .extra-info {
  display: block; /* Exibe as informações extras ao passar o mouse sobre o card */
}

ion-card-title {
  font-size: 16px; /* Tamanho da fonte do título do card */
  text-align: center; /* Centraliza o título */
}
