<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-title>Detalhes</ion-title>
    <ion-button slot="end" (click)="goToHome()" class="header-button">Voltar à página inicial</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon">
  <ion-card>
    <img [src]="pokemon.sprites.front_default" />
    <ion-card-header>
      <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      <ion-card-subtitle>#{{ pokemon.id }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Height:</strong> {{ pokemon.height }}</p>
      <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
      <p><strong>Base Experience:</strong> {{ pokemon.base_experience }}</p>
      <ion-list>
        <ion-item *ngFor="let type of pokemon.types">
          Type: {{ type.type.name | titlecase }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
