footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  